<launch>
  <!-- move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"
        output="screen">

    <remap from="/cmd_vel" to="/cmd_vel_mux/input/navigation"/>

    <rosparam file="$(find fiducial_detect)/config_noscan/dagny_nav.yaml" command="load"/>
    <rosparam file="$(find fiducial_detect)/config_noscan/local_planner.yaml" command="load"/>
  
    <!-- local costmap parameters. Small laser scanner on /scan -->
    <rosparam file="$(find fiducial_detect)/config_noscan/common_costmap.yaml"
              command="load" ns="local_costmap"/>
    <rosparam file="$(find fiducial_detect)/config_noscan/local_costmap.yaml"
              command="load" ns="local_costmap"/>
  
    <!-- global costmap parameters. Should just be a static map. -->
    <rosparam file="$(find fiducial_detect)/config_noscan/common_costmap.yaml"
              command="load" ns="global_costmap"/>
    <rosparam file="$(find fiducial_detect)/config_noscan/global_costmap.yaml"
              command="load" ns="global_costmap"/>
  </node>
</launch>
