<launch>

  <!--
     This transform is for a raspi camera mounted on a Loki with the
     ribbon cable facing away from the Pi  MJ 26 Jul 2015
  -->
   
  <node type="static_transform_publisher" pkg="tf" name="camera_pose"
        args="-0.14 0 0 0 0 0 base_link raspi_camera_frame 100"/> 
</launch>
