<launch>

    <arg name="raspicam_mount" default="downward"/>
    <arg name="sonars_installed" default="true"/>

    <arg name="rviz_config" default="true" />

    <!-- load empty world -->
    <arg name="gui" default="true"/>
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="use_sim_time" value="true" />
    </include>

    <!-- start robot -->
    <include file="$(find breadcrumb_gazebo)/launch/magni.launch">
        <arg name="raspicam_mount" value="$(arg raspicam_mount)"/>
        <arg name="sonars_installed" value="$(arg sonars_installed)"/>
    </include>




    <!-- Additional nodes (optional)  -->


    <!-- RViz to visualize robot state -->
    <arg unless="$(arg rviz_config)" name="rviz_args" value="" />
    <arg     if="$(arg rviz_config)" name="rviz_args" value="-d $(find breadcrumb_gazebo)/launch/rviz_config.rviz" />

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="$(arg rviz_args)" output="screen"/>


    <!-- GUI for robot control via 'cmd_vel' topic -->
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="magni_rqt_teleop">
        <param name="default_topic" type="str" value="/ubiquity_velocity_controller/cmd_vel"/>
        <param name="default_vx_max" type="double" value="0.8" />
        <param name="default_vx_min" type="double" value="-0.8" />
        <param name="default_vw_max" type="double" value="1.5" />
        <param name="default_vw_min" type="double" value="-1.5" />
    </node>

</launch>
