<launch>
  <arg name="DEVICE" default="/dev/video0"/>
  <!-- The GStreamer framerate needs to be an integral fraction -->
  <arg name="WIDTH" default="640"/>
  <arg name="HEIGHT" default="480"/>
  <arg name="FPS" default="30/1"/>

  <node pkg="nodelet" type="nodelet"
    name="standalone_nodelet" args="manager"
    output="screen"/>

  <node pkg="nodelet" type="nodelet"
    name="GSCamNodelet" 
    args="load gscam/GSCamNodelet standalone_nodelet" 
    output="screen">
    <param name="camera_name" value="default"/>
    <param name="camera_info_url" value="package://gscam/examples/uncalibrated_parameters.ini"/>
    <param name="gscam_config" value="v4l2src device=$(arg DEVICE) ! video/x-raw-rgb,width=$(arg WIDTH),height=$(arg HEIGHT),framerate=$(arg FPS) ! ffmpegcolorspace"/>
    <param name="frame_id" value="/v4l_frame"/>
    <param name="sync_sink" value="true"/>
  </node>                 
</launch>
