<launch>

  <!-- Camera -->
  <include file="$(find fiducial_detect)/launch/raspi_camera.launch"/>
  
  <!-- Camera transform -->
  <include file="$(find fiducial_detect)/launch/raspi_pose.launch"/>
  
  <!-- Fiducial detection -->
  <include file="$(find fiducial_detect)/launch/fiducials_no_odom.launch">
    <arg name="camera" value="/camera"/>
    <arg name="image" value="image_raw"/>
  </include>

  <!-- Fiducial pose estimation -->
<!--
    param name="fiducial_len" type="double" value="0.145"
-->

  <node name="ros_rpp" pkg="fiducial_pose" type="rpp_pose" output="screen" respawn="true">
    <remap to="/fiducials_localization/vertices" from="/vertices"/>
    <remap to="/camera/camera_info" from="/camera_info"/>
    <param name="fiducial_len" type="double" value="0.15875"/>
    <param name="undistort_points" type="bool" value="true"/>
  </node>

  <!-- Fiducial detection -->
  <node type="fiducial_slam.py" pkg="fiducial_slam" output="screen" name="fiducials_slam">
    <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
    <param name="obs_file" value="$(env HOME)/.ros/slam/obs.txt" />
    <param name="trans_file" value="$(env HOME)/.ros/slam/trans.txt" />
  </node>
</launch>
