*~
*.d
*.ezc
*.o
*.pdf
*.tga
*.pnm
*.svg
*.tar
*.xml
6mm_28Sep2013
2.3mm_28Sep2013
CMakeCache.txt
CMakeFiles
Demo
Fiducials_Photos
Fly_Capture
FlyCapture2Test
Map_Test
Tags
Video_Capture
calibrate
html
latex
ozcam